name: Docker Build and Push

on:
  push:
    tags:
      - 'v*'  # 推送以 v 开头的 tag 时触发（例如：v1.0.5）
  workflow_dispatch:  # 允许手动触发
    inputs:
      tag:
        description: 'Docker image tag'
        required: true
        default: 'latest'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
      
    - name: Extract tag name
      id: tag
      run: |
        if [ "${{ github.event_name }}" == "push" ]; then
          TAG_NAME=${GITHUB_REF#refs/tags/}
          echo "tag=$TAG_NAME" >> $GITHUB_OUTPUT
        else
          echo "tag=${{ github.event.inputs.tag }}" >> $GITHUB_OUTPUT
        fi
        
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        platforms: linux/amd64
        tags: |
          fightroad/dicomscp:${{ steps.tag.outputs.tag }}
          fightroad/dicomscp:latest
        cache-from: type=registry,ref=fightroad/dicomscp:buildcache
        cache-to: type=registry,ref=fightroad/dicomscp:buildcache,mode=max 